#idea
/*.ipr
/*.iml
/*.iws
/.idea

#eclipse
/eclipse

#lein
/target/
.nrepl-port
.lein-repl-history
.lein-failures

#windows
/desktop.ini
Thumbs.db

#mac
.DS_Store
.DS_Store?
.Spotlight-v100
.Trashes
Icon?
enthumbs.db

#etc
/.gradle/
/mc-client/
/logs/
/build/
